<% @more_comments.each do |comment| %>
  <%= turbo_stream.before "infinite-scroll-trigger" do %>
    <%= render "comments/comment", comment: comment, idea: @idea %>
  <% end %>
<% end %>

<% unless @has_more %>
  <%= turbo_stream.remove "infinite-scroll-trigger" %>
<% end %>

<% if @has_more %>
  <%= turbo_stream.update "infinite-scroll-trigger" do %>
    <div data-infinite-scroll-target="trigger" class="text-center py-3" id="infinite-scroll-trigger">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-2">スクロールして続きを読み込み...</p>
    </div>
  <% end %>
<% end %>